<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2><em>Bienvenue chez SEBO - Veuillez-vous identifier ou vous inscrire</em></h2>
<div class="line"></div>
<div class="links">
<div>
<a href="http://localhost:8080/microProjetMvc/views/identifier.jsp">Déjà client: identifiez-vous</a>
</div>
<div>
<a href="inscription.jsp">Nouveau client: inscrivez-vous</a>
</div>
</div>
</body>
<style>
.line {
border-top:1px solid grey;
margin:20px;
}
.links{
padding:20px;
}
.links div{
margin:20px;
}
h2{
margin:20px;
color:blue;
}
</style>
</html>