<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>microProjetMvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>identifierServlet</display-name>
    <servlet-name>identifierServlet</servlet-name>
    <servlet-class>controllers.identifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>identifierServlet</servlet-name>
    <url-pattern>/identifierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inscriptionServlet</display-name>
    <servlet-name>inscriptionServlet</servlet-name>
    <servlet-class>controllers.inscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionServlet</servlet-name>
    <url-pattern>/inscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogueServlet</display-name>
    <servlet-name>CatalogueServlet</servlet-name>
    <servlet-class>controllers.CatalogueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/CatalogueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailsServlet</display-name>
    <servlet-name>detailsServlet</servlet-name>
    <servlet-class>controllers.detailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailsServlet</servlet-name>
    <url-pattern>/detailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>panierServlet</display-name>
    <servlet-name>panierServlet</servlet-name>
    <servlet-class>controllers.panierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>panierServlet</servlet-name>
    <url-pattern>/panierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commandeServlet</display-name>
    <servlet-name>commandeServlet</servlet-name>
    <servlet-class>controllers.commandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commandeServlet</servlet-name>
    <url-pattern>/commandeServlet</url-pattern>
  </servlet-mapping>
</web-app>